* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}
html,
body {
  height: 100%;
  width: 100%;
}
#main {
  width: 100%;
  height: 100%;
  /* background-color: chocolate; */
  display: flex;
}
#left-part {
  /* background-color: red; */
  width: 40%;
  height: 100%;
  position: relative;
}
#right-part {
  width: 60%;
  height: 100%;
  background-color: #e02b68;
}
#right-top {
  display: flex;
  width: 100%;
  height: 50%;
  background-color: black;
}

#rtop-left {
  width: 55%;
  height: 100%;
  background: url(https://plus.unsplash.com/premium_photo-1677178628425-84a64dc416b6?w=400&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8NXx8Zmxvd2Vyc3xlbnwwfHwwfHx8MA%3D%3D);
  background-size: cover;
  background-position: center;
  /* background-color: #0fac50; */
}
#rtop-right{
  width: 45%;
  height: 100%;
  background: url(https://images.unsplash.com/photo-1726164959171-291645df9ed9?w=400&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHx0b3BpYy1mZWVkfDcwfDZzTVZqVExTa2VRfHxlbnwwfHx8fHw%3D);
  background-size: cover;
  background-position: center;
}

#right-bottom {
  width: 100%;
  height: 50%;
  background: url(https://media.istockphoto.com/id/1335813050/photo/pink-lotus-close-up.jpg?s=612x612&w=0&k=20&c=yEFvz7z0FfPdvQX61EFLBDrnBBFD7X-uVEoV0OWc448=);
  background-size: cover;
background-position: center;
 
  /* background-color: #00ffff; */
}

#lnav {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 20px 30px;
}

#lnavr a {
  margin-right: 20px;
  text-decoration: none;
  color: black;
  font-weight: 500;
  font-size: 14px;
}

#lnavr {
  display: flex;
  align-items: center;
}
#lnavr i {
  color: royalblue;
}
#left-part #textcenter {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}
#textcenter h1 {
  font-size: 90px;
  font-weight: 900;
}
#textcenter p {
  font-size: 12px;
  opacity: 0.6;
  line-height: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
}
 #textcenter a {
  text-decoration: none;
  color: black;
  border-bottom: 2px solid black;
  padding-bottom: 5px;
  font-size: 13px;
  font-weight: 600;
  opacity: 0.6;
}
